.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
}

.authBox {
    background-color: var(--widget-background-color);
    filter: blur(10);
    position: relative;
    border: 3px solid var(--input-color);
    border-radius: 25px;
    width: clamp(250px, 90vw, 700px);
    padding: 40px;
}

.title {
    font-size: 50px;
    color: var(--white-color);
    text-align: center;
}

.form {
    width: 100%;
}

.inputBar,
.submitButton {
    width: 100%;
    margin-bottom: 3px;
}

.inputBar {
    display: flex;
    flex-direction: column;
}

.inputBar label {
    color: var(--white-color);
    font-weight: bold;
    padding-bottom: 1px;
}

.inputBar input {
    outline: none;
    padding: 10px;
    font-size: large;
    border: solid 1px var(--input-color);
    background-color: var(--input-color);
    color: var(--white-color);
    transition: 100ms;
}

.inputBar input:-webkit-autofill {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.inputBar input:focus {
    border: solid 1px white
}

.inputBar .passwordToggle {
    display: inline-block;
    border: none;
    outline: none;
    margin-left: 4px;
    width: 30px;
    height: 20px;
    background: none;
    color: var(--white-color);
}

.inputBar .passwordToggle svg {
    height: 15px;
}

.message {
    color: var(--white-color);
}

.submitButton button {
    width: 100%;
    margin-top: 20px;
    font-size: large;
    padding: 15px;
}

.submitButton .alternateOption {
    text-align: center;
    display: block;
}