:root {
  --widget-background-color: rgba(110, 3, 3, 0.199);
  --input-color: rgb(70, 4, 4, 0.80);
  --button-color: rgba(52, 4, 4, 0.8);
  --button-hover-color: rgba(96, 6, 6, 0.8);
  --button-disabled-color: rgba(84, 40, 40, 0.8);

  --white-color: white;

  --drop-shadow: 0 3px rgba(0, 0, 0, 0.375)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ef0000;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('/images/chatbackground.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: auto;
  color: var(--white-color);
}

button {
  outline: none;
  border: solid 1px var(--button-color);
  background-color: var(--button-color);
  border-radius: 3px;
  transition: 100ms;
}

button:disabled,
button:disabled:hover {
  background-color: var(--button-disabled-color);
  border: solid 1px var(--button-color);
}

button:hover {
  background-color: var(--button-hover-color);
  border: solid 1px var(--white-color);
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
  padding: 10px;
  font-size: large;
  border: solid 1px var(--input-color);
  background-color: var(--input-color);
  color: var(--white-color);
  transition: 100ms;
}
input:focus {
  border: solid 1px white
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  place-items: center;
  overflow-y: auto;
}

.justifyCenter {
  justify-content: center;
}
